.pa-0 {
  padding: 0 !important;
}
.v-main {
  background-color: $color-5;
}
.v-card {
  background-color: #fafafa;
  box-shadow: $box-shadow;
}
.v-app-bar.v-toolbar.v-sheet {
  background-color: $color-2 !important;
}
.v-navigation-drawer__content {
  background: $color-4 !important;
}
.v-application,
body {
  height: 100vh;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif !important;
}
.container {
  color: $color-4 !important;
}
.color-white {
  color: #fafafa;
}

.input-bg .v-input__slot {
  background: $color-1 !important;
  // border: 1px solid;
  // border-color: $color-2;
  box-shadow: unset !important;
  // input {
  //   color: $color-4 !important;
  // }
}
.v-messages {
  color: $color-gray !important;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.bold {
  font-weight: 600;
}
.v-application .notification-container {
  padding: 10px;
  margin: 12px;
  font-size: 12px;
  color: $color-4;
  background-color: #44a4fc;
  border-left: 5px solid;
  border-radius: 4px;
  cursor: pointer;
  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    color: white;
    background-color: $color-error !important;
    border-color: #ff9b9b !important;
  }

  &.success {
    background-color: $color-3 !important;
    border-left-color: $color-2 !important;
  }
}

.title-name {
  font-size: 14px;
  padding-left: 4px;
  padding-top: 4px;
}
.button-container-space {
  position: relative;
  border: 1px solid #dadada;
  border-radius: 8px;
  height: 175px;
  display: grid;
  place-items: center;
}
.bg-dark {
  background-color: #212121;
}
