.pa-0 {
  padding: 0 !important;
}
.v-main {
  background-color: $color-5;
}
.v-card {
  background-color: #fafafa;
  box-shadow: $box-shadow;
}
.v-app-bar.v-toolbar.v-sheet {
  background-color: $color-2 !important;
}
.v-navigation-drawer__content {
  background: $color-4 !important;
}
.v-application,
body {
  height: 100vh;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif !important;
}
.container {
  color: $color-4 !important;
}
.color-white {
  color: #fafafa;
}

.input-bg .v-input__slot {
  background: $color-1 !important;
  // border: 1px solid;
  // border-color: $color-2;
  box-shadow: unset !important;
  // input {
  //   color: $color-4 !important;
  // }
}
.v-messages {
  color: $color-gray !important;
}
